header {
    margin-top: 80px;
}

header .left {
    text-align: left;
}

header .left p.text {
    margin-top: 45px;
}

header .left button {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.03em;
    background: #F15525;
    border-radius: 82px;
    padding: 27px 45px;
    border: none;
    color: white;
}
header .left button .css-i4bv87-MuiSvgIcon-root{
    margin-left: 12px;
}
header .right{
    text-align: right;
}
@media(max-width: 900px){
    header .right{
        margin: 50px 0px;
        text-align: center;
    }
}