footer {
    width: 100%;
    margin-top: 70px;
}

footer .left {
    text-align: left;
    margin-top: 10px;
}

footer .left .flex {
    display: flex;
    align-items: center;
}

footer .left .flex span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #8E8E8E;
    margin-left: 15px;
}

footer .left .icon {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

footer .left .icon .nan {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

footer .left .icon .nan:hover {
    cursor: pointer;
    transition: 1s;
    transform: rotate(360deg);
    background-color: #38BFF2;
}

footer .left .icon .nan .css-i4bv87-MuiSvgIcon-root {
    font-size: 20px;
}

footer ul {
    text-align: left;
    margin-bottom: 50px;
}

footer ul li {
    margin: 10px 0px;
}

footer ul li a {
    font-size: 13px;
    font-weight: 400;   
    line-height: 14px;
    color: #22253B;
}

footer .right {
   text-align: left;
}
footer .right span{
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #38BFF2;
    margin-bottom: 5px;
}
footer .right h5{
    margin-top: 60px;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    color: #8E8E8E;
}
footer hr{
    color: #D8D8D8;
}
footer .text{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media(max-width: 900px){
    footer .left{
        text-align: center;
    }
    footer ul{
        text-align: center;
    }
    footer .right{
        text-align: center;
    }
    footer .right p.text{
        text-align: center;
        display: none;
    }
}